{% extends "layout.html" %}
{% block content %}
<br>
    <br>
    <div class ="container">
<h4>Atal Ranking of Institutions on Innovation Achievements (ARIIA)</h4>
   <p>Atal Ranking of Institutions on Innovation Achievements (ARIIA) is an initiative of Ministry of Education (MoE), Govt. of India, to systematically rank all major higher educational institutions and universities in India on indicators related to “Innovation and Entrepreneurship Development” amongst students and faculties. </p>
<br>
        <p>ARIIA considers all major indicators which are commonly used globally to rank the most innovative educational institutions/ universities in the world.  The ARIIA initiative aims to inspire Indian institutions to reorient their mind-set and build ecosystems to encourage high quality research, innovation and entrepreneurship, towards making them globally competitive, and in the forefront of innovation.</p>
<br>
    <p>NITK Surathkal has been categorized as 'Band A' institution (rank between 11-25) in category of ‘Institute of National Importance, Central Universities & CFTIs’ in ARIIA 2020 rankings, announced on 18th Aug 2020.<a href="https://www.nitk.ac.in/document/attachments/2801/ARIIA_2020_rank_certificate.pdf"> ARIIA 2020 rank certificate</a></p>


<br>
    <h6>NITK Surathkal's year-wise ARIIA reports:</h6>
    <a href ="https://www.nitk.ac.in/document/attachments/2800/ARIIA_2021_Final_report_after_verification_%28ARI-U-0237%29.pdf">ARIIA 2021</a>
   <br>
    <a href ="https://www.nitk.ac.in/document/attachments/2799/ARIIA_2020_Final_report_%28ARI-U-0237%29.pdf">ARIIA 2020</a>
    <br>
        <a href ="https://www.nitk.ac.in/document/attachments/2798/ARIIA_2019_Final_Report_%28ARI-U-0237%29.pdf">ARIIA 2019</a>
    </div>

{% endblock content %}