{% extends "layout.html" %}
{% block content %}
    <br>
    <br>
    <div class="row">
    <div class="column">
         <div class="container">
             <h1>NITK Campus Amenities</h1>
             <p>The 295.35-acre campus caters to the needs of a community comprised of Faculty,
                 Staff and Students. Staff club, shopping complex, banks with ATM facility, post office, schools,
                 hospital, guest house, cafeterias, playground are present on the campus for the benefits of the residents.</p>
   <h1>Guest Houses</h1>
The Institute has four guest houses
<br>
        <ul>
  <li>J C Bose Guest House</li>
  <li>Vikram Sarabhai Guest House</li>
  <li>Homi J Bhaba Guest House</li>
            <li>International Hostel</li>
</ul>
             <p>   They are located on the western side of the National Highway (NH66), near the beach (Arabian Sea).</p>

             <h3>Guest House Manager</h3>
            Mr. Babu Shetty
            Phone : 0824-2473820, 0824-2474065

    </div>
    </div>
    <div class="column container">
        <h1>Sports Facilities</h1>
A full-fledged Physical Education & Sports Department with two Students’ Activity and Sports Officers (SAS Officers) and one Assistant Physical Director provide and manage sports, games and physical fitness facilities. Infrastructure facilities are available in the sports centre for indoor and outdoor sports. In addition, a swimming pool of international standard is also available. A new and modern Sports Complex has been set up in the campus which was inaugurated by the Honorable HRD Minister.
<br>
        <h3>Asst. Physical Education Director</h3>
        Shivaram A<br>
        Phone : 0824-2474080<br>
        Email : shivaram@nitk.ac.in<br>
    </div>
    <hr style="height:5px; width:100%; border-width:0; color:green; background-color:green">
</div>
    <div class="row">
    <div class="column">
         <div class="container">
   <h1>Other Amenities</h1>
    <br>
            <h3>Health Care Centre</h3>
A full-fledged Health Care Centre caters to the medical and health needs of the campus residents and students with state-of-the-art facilities, ambulance support and visiting specialists.

             <h3>Post Office</h3>
The post office in the campus caters to all the mail-related services of the residents of the institute .
<br>
             <h3>Shopping Centers</h3>
Two shopping centers exists in the campus which include students’ and employees’ Cooperative Societies, bakery, vegetable shop, cloth shop, tailoring, saloon, beauty parlor, laundry, printing press, provisional store, among others
<br>
             <h3>Canteens</h3>
Two canteens and four cafeterias are available.
             <br>


    </div>
    </div>
    <div class="column container">
        <h3>Banks</h3>
Two banks (Canara bank and State bank of India) with ATM facility are available in the campus.
<br>
        <h3>Open Air Theatre (Students Activity Centre)</h3>
One open Air theatre of about 1000 seating capacity is available.
<br>
<h3>Silver Jubilee Auditorium (SJA)</h3>
Auditorium of about 1,200 seating capacity is available
<br>
        <h3>Hostels</h3>
Hostels for both boys and girls are available in the campus. The Institute being a residential campus, the majority of students (4500+) stay in hostels. There are 12 Hostel blocks for boys, 5 hostel blocks for girls with power backup. The Institute has an International Hostel too. Multiple dining halls offer a variety of cuisine for students. Reading room functions in each hostel with books and periodicals. All hostel rooms are provided with internet connection. Students actively participate in the management of hostels and dining halls. Major festivals are also celebrated in hostels. Central laundry facility is launched in the hostels from the academic year 2018-19. Student transportation facility is available from hostels to Lecture Hall Complexes/Departments and back.


    </div>
    <hr style="height:5px; width:100%; border-width:0; color:green; background-color:green">
</div>

{% endblock content %}
