{% extends "layout.html" %}


{% block content %}
    <br>
<section class="cert" id="cert">
			<br>
			<h1 id="certi"> <span>Computer Science and Engineering</span></h1>
			<br>
			<div class="pricing-table">
				<div class="card middle">
					<div class="front">
						<img src="../static/Faculty.jpg">
					</div>
					<div class="back">
						<div class="back-content middle">

							<a href="{{ url_for('faculty') }}"><img src="../static/cselogoback.png " height="300" width="300"></a>
						</div>
					</div>
				</div>
				<div class="card middle">
					<div class="front">
						<img src="../static/students.jpeg">
					</div>
					<div class="back">
						<div class="back-content middle">
                            <a href="{{ url_for('student') }}"><img src="../static/cselogoback.png " height="300" width="300"></a>
                        </div>
					</div>
				</div
			</div>
		</section>

{% endblock content %}