
{% extends "layout.html" %}
{% block content %}
    <br>
    <img src="../static/NIT-Karnataka.webp" width="1500" height="400">
    <br>

    <br>
        <div class="row">
            <div class="column container">
                <h1>Guest Houses</h1>
                The Institute has four guest houses
                <br>
                  <ul>
                    <li>J C Bose Guest House</li>
                      <li>Vikram Sarabhai Guest House</li>
                        <li>Homi J Bhaba Guest House</li>
                         <li>International Hostel</li>
                    </ul>
            </div>
            <div class="column container">
                <h2>Guest House Manager</h2>
                    Mr. Karunakar
                 <br>
                Phone : 9901792207, 0824-2473820, 0824-2474065
                         <br>
                <img src="../static/gh.jpeg" width="500" height="250">
            </div>
        </div>



{% endblock content %}