{% extends "layout.html" %}
{% block content %}
<br>
    <br>
    <div class="container">
    <h4>NIRF Rankings Data</h4>
    <ul>
<li><a href="https://www.nitk.ac.in/document/attachments/3340/NIRF_21_Ranking_in_Engineering_Category.pdf">NIRF 2021 Ranking in Engineering Category</a></li>
<li><a href="https://www.nitk.ac.in/document/attachments/3341/NIRF_21_Ranking_in_Overall_Category.pdf">NIRF 2021 Ranking in Overall Category</a></li>
        <li><a href="https://www.nitk.ac.in/document/attachments/3342/NIRF_21_Ranking_in_Research_Category.pdf">NIRF 2021 Ranking in Research Category</a></li>
        <li><a href="https://www.nitk.ac.in/nirf-2021">NIRF 2021</a></li>
<li><a href="https://www.nitk.ac.in/nirf-2020">NIRF 2020</a></li>

        <li><a href="https://www.nitk.ac.in/nirf-2019">NIRF 2019</a></li>
        <li><a href="https://www.nitk.ac.in/nirf-2018">NIRF 2018</a></li>
</ul>

    </div>
{% endblock content %}