{% extends "layout.html" %}
{% block content %}
<section class="cert" id="cert">
			<br>
			<h1 id="certi"> <span>Placement Details</span></h1>
			<br>
			<div class="pricing-table">
				<div class="card middle">
					<div class="front">
						<img src="../static/cs.jpeg">
					</div>
					<div class="back">
						<div class="back-content middle">

							<a href="{{ url_for('placementcse')}}"><img src="../static/cselogoback.png " height="300" width="300"></a>
						</div>
					</div>
				</div>
				<div class="card middle">
					<div class="front">
						<img src="../static/itbuilding.jpg">
					</div>
					<div class="back">
						<div class="back-content middle">
                            <a href="{{ url_for('placementit')}}"><img src="../static/it_back_logo.jpg" height="300" width="300"></a>
                        </div>
					</div>
				</div>
			</div>
		</section>
{% endblock content %}