{% extends "layout.html" %}
{% block content %}
<div class="postpage" style="padding-bottom: 0px ;">
<div class="gdlr-core-course-item-list">
<h3 class="gdlr-core-course-item-title">M.Tech Programmes</h3>

<div class="gdlr-core-course-item">
<div class="gdlr-core-course-item-info"><span class="gdlr-core-head">Level: </span><span class="gdlr-core-tail">Postgraduate</span></div>

<div class="gdlr-core-course-item-info"><span class="gdlr-core-head">Semesters: </span><span class="gdlr-core-tail">Four</span></div>
</div>

<div class="gdlr-core-course-item-list">
<h3 class="gdlr-core-course-item-title"><span class="gdlr-core-course-item-id gdlr-core-skin-caption">1. </span>Water Resources and Ocean Engineering<span style="font-size:10pt"><span style="line-height:0.35cm"><span style="font-family:Calibri,serif"><font face="Times New Roman, serif"><font size="3"><font style="font-size: 12pt"><b>&nbsp;(Formerly Applied Mechanics and Hydraulics Department)</b></font></font></font></span></span></span></h3>

<div class="gdlr-core-column-40">
<div class="gdlr-core-course-item-info"><span class="gdlr-core-head">Course 1: </span><span class="gdlr-core-tail">Marine Structures</span></div>

<div class="gdlr-core-course-item-info"><span class="gdlr-core-head">Course 2: </span><span class="gdlr-core-tail">Remote Sensing and GIS (Renamed as Geoinformatics from the academic year 2021-22)</span></div>

<div class="gdlr-core-course-item-info"><span class="gdlr-core-head">Course 3: </span><span class="gdlr-core-tail">Water Resources Engineering and Management</span></div>
</div>

<div class="gdlr-core-column-20"><a class="gdlr-core-course-item-button gdlr-core-button" href="http://appmech.nitk.ac.in/programmes">More Detail</a></div>
</div>
&nbsp;

<div class="gdlr-core-course-item-list">
<h3 class="gdlr-core-course-item-title"><span class="gdlr-core-course-item-id gdlr-core-skin-caption">2. </span>Chemical Engineering</h3>

<div class="gdlr-core-column-40">
<div class="gdlr-core-course-item-info"><span class="gdlr-core-head">Course 1: </span><span class="gdlr-core-tail">Chemical Engineering</span></div>

<div class="gdlr-core-course-item-info"><span class="gdlr-core-head">Course 2: Environmental Science and Technology</span></div>

<div class="gdlr-core-course-item-info"><span class="gdlr-core-head">Course 3: </span><span class="gdlr-core-tail">Industrial Biotechnology</span></div>
</div>

<div class="gdlr-core-column-20"><a class="gdlr-core-course-item-button gdlr-core-button" href="http://chemical.nitk.ac.in/programmes/pg">More Detail</a></div>
</div>
&nbsp;

<div class="gdlr-core-course-item-list">
<h3 class="gdlr-core-course-item-title"><span class="gdlr-core-course-item-id gdlr-core-skin-caption">3. </span>Civil Engineering</h3>

<div class="gdlr-core-column-40">
<div class="gdlr-core-course-item-info"><span class="gdlr-core-head">Course 1: </span><span class="gdlr-core-tail">Construction Technology and Management </span></div>

<div class="gdlr-core-course-item-info"><span class="gdlr-core-head">Course 2: </span><span class="gdlr-core-tail">Environmental Engineering </span></div>

<div class="gdlr-core-course-item-info"><span class="gdlr-core-head">Course 3: </span><span class="gdlr-core-tail">Geotechnical Engineering </span></div>

<div class="gdlr-core-course-item-info"><span class="gdlr-core-head">Course 4: </span><span class="gdlr-core-tail">Structural Engineering </span></div>

<div class="gdlr-core-course-item-info"><span class="gdlr-core-head">Course 5: </span><span class="gdlr-core-tail">Transportation Engineering</span></div>
</div>

<div class="gdlr-core-column-20"><a class="gdlr-core-course-item-button gdlr-core-button" href="http://civil.nitk.ac.in/programmes/pg">More Detail</a></div>
</div>
<br>
<br>
&nbsp;
<div class="gdlr-core-course-item-list">
<h3 class="gdlr-core-course-item-title"><span class="gdlr-core-course-item-id gdlr-core-skin-caption">4. </span>Computer Science &amp; Engineering</h3>

<div class="gdlr-core-column-40">
<div class="gdlr-core-course-item-info"><span class="gdlr-core-head">Course 1: </span><span class="gdlr-core-tail">Computer Science and Engineering</span></div>

<div class="gdlr-core-course-item-info"><span class="gdlr-core-head">Course 2: </span><span class="gdlr-core-tail">Computer Science and Engineering - Information Security</span></div>
</div>

<div class="gdlr-core-column-20"><a class="gdlr-core-course-item-button gdlr-core-button" href="http://www.cse.nitk.ac.in/programmes/pg">More Detail</a></div>
</div>

<div class="gdlr-core-course-item-list">
<h3 class="gdlr-core-course-item-title"><span class="gdlr-core-course-item-id gdlr-core-skin-caption">5. </span>Electrical and Electronics Engineering</h3>

<div class="gdlr-core-column-40">
<div class="gdlr-core-course-item-info"><span class="gdlr-core-head">Course 1: </span><span class="gdlr-core-tail">Power and Energy Systems</span></div>
</div>

<div class="gdlr-core-column-20"><a class="gdlr-core-course-item-button gdlr-core-button" href="http://www.eee.nitk.ac.in/rules_mtech.php">More Detail</a></div>
</div>

<div class="gdlr-core-course-item-list">
<h3 class="gdlr-core-course-item-title"><span class="gdlr-core-course-item-id gdlr-core-skin-caption">6. </span>Electronics and Communication Engineering</h3>

<div class="gdlr-core-column-40">
<div class="gdlr-core-course-item-info"><span class="gdlr-core-head">Course 1: </span><span class="gdlr-core-tail">VLSI Design</span></div>

<div class="gdlr-core-course-item-info"><span class="gdlr-core-head">Course 2: </span><span class="gdlr-core-tail">Communication Engineering &amp; Networks</span></div>

<div class="gdlr-core-course-item-info"><span class="gdlr-core-head">Course 3: </span><span class="gdlr-core-tail">Signal Processing and Machine Learning</span></div>
</div>

<div class="gdlr-core-column-20"><a class="gdlr-core-course-item-button gdlr-core-button" href="http://ece.nitk.ac.in/programmes/pg">More Detail</a></div>
</div>

<div class="gdlr-core-course-item-list">
<h3 class="gdlr-core-course-item-title"><span class="gdlr-core-course-item-id gdlr-core-skin-caption">7. </span>Information Technology</h3>

<div class="gdlr-core-column-40">
<div class="gdlr-core-course-item-info"><span class="gdlr-core-head">Course 1: </span><span class="gdlr-core-tail">Information Technology</span></div>
</div>

<div class="gdlr-core-column-20"><a class="gdlr-core-course-item-button gdlr-core-button" href="http://infotech.nitk.ac.in/programmes/pg">More Detail</a></div>
</div>

<div class="gdlr-core-course-item-list">
<h3 class="gdlr-core-course-item-title"><span class="gdlr-core-course-item-id gdlr-core-skin-caption">8. </span>Mathematical and Computational Sciences</h3>

<div class="gdlr-core-column-40">
<div class="gdlr-core-course-item-info"><span class="gdlr-core-head">Course 1: </span><span class="gdlr-core-tail">Computational and Data Science</span></div>
</div>

<div class="gdlr-core-column-20"><a class="gdlr-core-course-item-button gdlr-core-button" href="http://macs.nitk.ac.in/programmes/pg">More Detail</a></div>
</div>

</div>
</div>
{% endblock content %}