{% extends "layout.html" %}
{% block content %}
<section class="cert" id="cert">
			<br>
			<h1 id="certi"> <span>Undergraduate</span></h1>
			<br>
			<div class="pricing-table">
				<div class="card middle">
					<div class="front">
						<img src="../static/cs.jpeg">
					</div>
					<div class="back">
						<div class="back-content middle">

							<a href="https://cse.nitk.ac.in"><img src="../static/cselogoback.png " height="300" width="300"></a>
						</div>
					</div>
				</div>
				<div class="card middle">
					<div class="front">
						<img src="../static/eee.jpg">
					</div>
					<div class="back">
						<div class="back-content middle">
                            <a href="https://eee.nitk.ac.in/"><img src="../static/eeelogoback.jpeg " height="300" width="300"></a>
                        </div>
					</div>
				</div>
				<div class="card middle">
					<div class="front">
						<img src="../static/chem.jpg">
					</div>
					<div class="back">
						<div class="back-content middle">
                                    <a href="https://chemical.nitk.ac.in/"><img src="../static/chemicallogoback.jpeg " height="300" width="300"></a>
                        </div>
					</div>
				</div>
				<div class="card middle">
					<div class="front">
						<img src="../static/mining.jpg">
					</div>
					<div class="back">
						<div class="back-content middle">
                            <a href="https://mining.nitk.ac.in/"><img src="../static/mininglogoback.jpg " height="300" width="300"></a>
                        </div>
					</div>
				</div>
			</div>
		</section>
{% endblock content %}